<app-loader *ngIf="showLoader"></app-loader>


<div *ngIf="!showLoader" class="parent">
    <div class="child">
        <form class="signupForm" [formGroup]="loginFormGroup">
            <div class="signupForm m-3">
                <label>Enter Your Mail</label>
                <input type="text" class="loginInput" formControlName="email" >
                <span *ngIf="loginFormGroup.controls.email.touched || loginFormGroup.controls.email.dirty" class="showAlert">
                    <span *ngIf="loginFormGroup.controls.email.errors?.['required']" >*Required</span>
                    <span *ngIf="showError(loginFormGroup.controls.email, 'pattern')" >*Enter valid Mail</span>
                </span>
            </div>

            <br>
    

            <div class="signupForm mt-30 m-3">
                <label>Enter Your Password</label>
                <input type="password" class="loginInput" formControlName="password" >
                <span *ngIf="loginFormGroup.controls.password.touched || loginFormGroup.controls.password.dirty" class="showAlert">
                    <span *ngIf="loginFormGroup.controls.password.errors?.['required']" >*Required</span>
                    <span *ngIf="showError(loginFormGroup.controls.password, 'minlength')" >*Password length should be 8</span>
                </span>

            </div>

            <button class="mt-30 m-3 btn" type="submit" (keydown.enter)="loginUser()" (click)="loginUser()">Login</button>
            <a routerLink="/register"><span>click here to sign up</span></a>
        </form>

    </div>
    <div >
    </div>
</div>