<app-loader *ngIf="showLoader"></app-loader>

<div *ngIf="!showLoader" class="center-container container w-50 mt-2">
    <div class="card"  style="margin-top: 25%;">
      <div class="card-body" style="background-color: wheat;">
        <h5 class="card-title text-center">Login</h5>
  
        <form [formGroup]="loginFormGroup">
  
          <div class="mb-2" style="height: 50px;">
            <div class="row">
              <div class="col"><label class="form-control-sm">Email address</label></div>
              <div class="col">
                <input type="email" class="form-control form-control-sm" formControlName="email"
                  placeholder="name@example.com">
                <span *ngIf="(loginFormGroup.controls.email.dirty || loginFormGroup.controls.email.touched)"
                  class="form-control-sm text-danger">
                  <span *ngIf="loginFormGroup.controls.email.errors?.['required']">*Email is Required</span>
                  <span *ngIf="loginFormGroup.controls.email.errors?.['pattern']">*Enter Valid Mail</span>
                </span>
              </div>
            </div>
          </div>
  
          <div class="mb-2" style="height: 50px;">
            <div class="row">
              <div class="col col-md-6 "><label class="form-control-sm">Password</label></div>
              <div class="col">
                <input type="password" class="form-control form-control-sm" placeholder="Password"
                  formControlName="password">
                <span *ngIf="(loginFormGroup.controls.password.dirty || loginFormGroup.controls.password.touched)"
                  class="form-control-sm text-danger">
                  <span *ngIf="loginFormGroup.controls.password.errors?.['required']">*Password is Required</span>
                </span>
              </div>
            </div>
  
          </div>
  
          <div class="row container justify-content-center">
            <div class="col-md-3"><button type="submit" (click)="loginUser()" class="btn btn-primary">Login</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </div>