<div class="main">

  
  <a routerLink="/portal/profile">
    <app-cards [title]="'Portal Profile'">
    </app-cards>
  </a>
  <a routerLink="/profile">
    <app-cards [title]="'Profile'">
    </app-cards>
  </a>

  <ng-container>
    <a *ngIf="employeeType == 'SuperAdmin' && !showLoaderE" routerLink="/portal/departments">
      <app-cards [title]="'Departments'" [text]=" 'Department Count: ' + departmentCount " >
      </app-cards>
    </a>
    <app-loader *ngIf="employeeType == 'SuperAdmin' && showLoaderE"></app-loader>
  </ng-container>
  
  <ng-container>
    <a  *ngIf="!showLoaderT" routerLink="/portal/myTasks" [queryParams]="{page: 1, search: '', take: 5, taskStatus: null}">
      <app-cards [title]="'My Task'" [text]=" 'Task Count: ' + taskCount ">
      </app-cards>
    </a>
    <app-loader *ngIf="showLoaderT"></app-loader>
  </ng-container>
  
  <ng-container *ngIf="!isEmployee">
    <a  *ngIf="!showLoaderT" routerLink="/portal/allEmployee">
      <app-cards [title]="'All Employee'" [text]=" 'Employee Count: ' + employeeCount ">
      </app-cards>
    </a>
    <app-loader *ngIf="showLoaderT"></app-loader>
  </ng-container>
</div>




















<!-- <div class="divFull">

  <div class="div-22 div-30-bg centreDiv">
      <div class="centreH3">
          <h3>Super Admin Actions</h3>
      </div>

      <div>
          <ul>
              <li><a routerLink="details" routerLinkActive="active" >Profile</a></li>
              <li><a routerLink="departments"  routerLinkActive="active" >Departments</a></li>
              <li><a routerLink="groupByDepartment" routerLinkActive="active"  >Group By Department</a></li>
              <li>
                  <a routerLink="allTasks" routerLinkActive="active" 
                      [queryParams]="{page: 1, search: '', take: 5, taskStatus: ''}"
                  >
                  Assigned Task
                  </a>
              </li>
          </ul>
      </div>
  </div>

  <div class="div-74 div-68-bg">
      <router-outlet></router-outlet>
  </div>

</div> -->