 <div class="main">

  
  <a routerLink="/portal/profile">
    <app-cards [title]="'Profile'">
    </app-cards>
  </a>
  
  <ng-container>
    <a *ngIf="employeeType == 'SuperAdmin' && !showLoaderE" routerLink="/portal/departments">
      <app-cards [title]="'Departments'" [text]=" 'Department Count: ' + departmentCount " >
      </app-cards>
    </a>
    <app-loader *ngIf="employeeType == 'SuperAdmin' && showLoaderE"></app-loader>
  </ng-container>
  
  <ng-container>
    <a  *ngIf="!showLoaderT" routerLink="/portal/myTasks" [queryParams]="{page: 1, search: '', take: 5, taskStatus: null}">
      <app-cards [title]="'My Task'" [text]=" 'Task Count: ' + taskCount ">
      </app-cards>
    </a>
    <app-loader *ngIf="showLoaderT"></app-loader>
  </ng-container>
  
  <ng-container *ngIf="!isEmployee">
    <a  *ngIf="!showLoaderT" routerLink="/portal/allEmployee" [queryParams]="{page: 1, search: '', take: 5}">
      <app-cards [title]="'All Employee'" [text]=" 'Employee Count: ' + employeeCount ">
      </app-cards>
    </a>
    <app-loader *ngIf="showLoaderT"></app-loader>
  </ng-container>
</div> 



















