.divOption{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: lightcoral;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 30px;
}

.activeOption{
  background-color: white;
  margin-bottom: -29px;
  height: 32px;
}

.divOption{
  a{
    li{
      // font-size: larger;
      font-size: large;
      font-weight: bold;
      font-family: cursive;
    }
  }
}