<!-- <nav>
    <div class="headerNav">
        <div class="lSbtn">
            <ng-container *ngIf="!isL" >
                <a  routerLink="/login" ><button routerLinkActive="active" class="btn">Login</button></a>
                <a  routerLink="/register" ><button routerLinkActive="active" class="btn" >Register</button></a>
            </ng-container>

            <div *ngIf="isL">
                <h1>Welcome {{loggedInUserName}} </h1>
            </div>
        </div>
    
        <div>
            <a routerLink="" *ngIf="isL"><button class="btn mr-30" (click)="logOut()" >Logout</button></a>
        </div>
    </div>
</nav>

<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet> -->

<nav style="margin-bottom: 10px;">
    <a>
        <div class="headerNav">
            <div class="lSbtn">
                <ng-container *ngIf="!isL" >
                    <a  routerLink="/login" ><button routerLinkActive="active" class="btn">Login</button></a>
                    <a  routerLink="/register" ><button routerLinkActive="active" class="btn" >Register</button></a>
                </ng-container>
    
                <div *ngIf="isL">
                    <h1>Welcome {{loggedInUserName}} </h1>
                </div>
            </div>
        
            <div>
                <a *ngIf="isL"><button class="btn mr-30" (click)="logOut()" >Logout</button></a>
            </div>
        </div>
    </a>
</nav>

<!-- <ngx-ui-loader></ngx-ui-loader> -->
<router-outlet></router-outlet>

